{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-groupedlayercontrol/0.6.1/leaflet.groupedlayercontrol.css" integrity="sha512-PpKEvRG//V8hN9idekL4WOjknpMTPFH3MnWpVbVBmlzXpoUfbBSr054U/TUmOzUnCOM9PAPiLhRgq0i00B4q3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />{% endblock %}
{% block content %}
    <br><br>
    <div class="container-fluid">
        <div class="col-md-6">
            <br>
            <img class="img-responsive img-thumbnail" src="{% if parcel.photo %}{{ parcel.photo.url }}{% else %}{% static "img/No_Image_Available.jpg" %}{% endif %}">
            <h1 class="">{{ parcel.name }}</h1>
            <h2><a href="{{ parcel.category.get_absolute_url }}">{{ parcel.category }}</a> </h2>
            <p class="price">Ksh {{ parcel.price }}</p>

            <p>{{ parcel.county }} county<br>
                District:{{ parcel.district }}
            </p>
            <div class="panel panel-info">
                <p>{{ parcel.description|linebreaks }}</p>
            </div>
            <button type="button" class="btn btn-success btn-outline-success"><a href="{% url 'land:landsData' parcel.id parcel.slug %}">Buy</a></button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            ...
                            <p>I was trying out this bootstrap feature. In the future I could use it for enabling buying
                                . In the meantime I'm using it to display the geometric data. Just practising it's never
                                that serious.
                            </p>
                            ...
                            <br>
                            <a href="{% url 'land:landsData' parcel.id parcel.slug %}">Serialized Geometric Data</a>
                            <br>
                            ...
                            <br>
                            <a href="{{ parcel.geometry.get_absolute_url }} ">{{ parcel.geometry }}</a>
                            <br>
                            ...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-success col-md-6 col-offset-md-6">
            <br>
            <div id="map" class="panel-body leaflet-map-pane" style="height: 500px">
                <script type="text/javascript">
                    function layers(map) {
                        var osm = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
                        var data  = new L.GeoJSON.AJAX("{% url 'land:landsData' parcel.id parcel.slug %}", {
                            onEachFeature: function (feature, layer) {
                                layer.bindPopup(
                                    feature.properties.name.toString()
                                );
                            }
                        });
                        data.addTo(map);
                        map.panTo(data);
                        var baseLayers = {
                            "OSM": osm
                        };
                        var groupedOverlays = {
                            "Parcel":{
                                "Parcel": data
                            }
                        };
                        L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);
                    }
                </script>
                {% leaflet_map "map" callback="window.layers" %}
            </div>
            <br>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/0.2.0/leaflet.ajax.min.js" integrity="sha512-rQ5LOlEFAvCjdd93ybsBPYGy2rSiTeciSGFxl1VFcP3uy3rtrw+cyr/9Zp0Bm0mAO2uawkZycc0LBft7DbfREQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-groupedlayercontrol/0.6.1/leaflet.groupedlayercontrol.min.js" integrity="sha512-cdomNfv1IRJE1v+2/irZdkNU09XwtYP2bQ1qK1ybWF/vz+P3GTMZtrXwlxTU41ExwoWGvEf0njIak5l/ZQaIMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
