{% extends "base.html" %}
{% load static %}
{% load leaflet_tags %}
{% leaflet_css %}
{% leaflet_js %}
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}
{% block header %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-groupedlayercontrol/0.6.1/leaflet.groupedlayercontrol.css" integrity="sha512-PpKEvRG//V8hN9idekL4WOjknpMTPFH3MnWpVbVBmlzXpoUfbBSr054U/TUmOzUnCOM9PAPiLhRgq0i00B4q3w==" crossorigin="anonymous" referrerpolicy="no-referrer" />{% endblock %}
{% block content %}
    <br><br>
    <div class="container-fluid">
        <div class="col-md-6">
            <br>
            <img class="img-responsive img-thumbnail" src="{% if house.photo %}{{ house.photo.url }}{% else %}{% static "img/No_Image_Available.jpg" %}{% endif %}">
            <h1 class="">{{ house.name }}</h1>
            <h2><a href="{{ house.category.get_absolute_url }}">{{ house.category}}</a> </h2>
            <p class="price">Ksh {{ house.price }}</p>

            <p>{{ house.county }} county<br>
                District:{{ house.district }}
            </p>
            <div class="panel panel-info">
                <p>{{ house.description|linebreaks }}</p>
            </div>
            <button type="button" class="btn btn-success btn-outline-success"><a href="{% url 'houses:houseData' house.id house.slug %}">Buy</a></button>
        </div>
        <br>
        <div class="panel panel-success col-md-6 col-offset-md-6">
            <br>
            <div id="map" class="panel-body leaflet-map-pane" style="height: 500px">
                <script type="text/javascript">
                    function layers(map) {
                        var osm = 'http://{s}.tile.osm.org/{z}/{x}/{y}.png';
                        var data  = new L.GeoJSON.AJAX("{% url 'houses:houseData' house.id house.slug %}", {
                            onEachFeature: function (feature, layer) {
                                layer.bindPopup(
                                    feature.properties.name.toString(),
                                    feature.properties.description.toString()
                                );
                            }
                        });
                        data.addTo(map);
                        var baseLayers = {
                            "OSM": osm
                        };
                        var groupedOverlays = {
                            "Parcel":{
                                "Parcel": data
                            }
                        };
                        L.control.groupedLayers(baseLayers, groupedOverlays).addTo(map);
                    }
                </script>
                {% leaflet_map "map" callback="window.layers" %}
            </div>
            <br>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/0.2.0/leaflet.ajax.min.js" integrity="sha512-rQ5LOlEFAvCjdd93ybsBPYGy2rSiTeciSGFxl1VFcP3uy3rtrw+cyr/9Zp0Bm0mAO2uawkZycc0LBft7DbfREQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-groupedlayercontrol/0.6.1/leaflet.groupedlayercontrol.min.js" integrity="sha512-cdomNfv1IRJE1v+2/irZdkNU09XwtYP2bQ1qK1ybWF/vz+P3GTMZtrXwlxTU41ExwoWGvEf0njIak5l/ZQaIMA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>{% endblock %}
{% block footer %}
{% include 'footer.html' %}
{% endblock %}
